<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <h1>Service Provider Business Tags</h1>
    <mat-form-field appearance="fill">
        <mat-label>Select Service Provider </mat-label>
        <mat-select formControlName="serviceProviderId" (selectionChange)="onServivceProvderID($event)">
            <mat-option *ngFor="let spModel of serviceProviderModel" [value]="spModel.id">{{spModel.businessName}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Select Service Provider Badge</mat-label>
        <mat-select formControlName="badgeId" (selectionChange)="onBadge($event)">
            <mat-option *ngFor="let badgeName of badge" [value]="badgeName.id">{{badgeName.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <!-- <mat-form-field appearance="fill">
        <mat-label>Expiry Date</mat-label>
        <input matInput formControlName="expiryDate">
    </mat-form-field> -->
    <mat-form-field class="example-full-width">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="expiryDate">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker">
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
        <button mat-raised-button color="primary" type="submit">{{data ? 'Update': 'Save'}}</button>
    </div>
</form>