<form [formGroup]="badgeForm" (ngSubmit)="onSubmit()">
  <h1>Badge</h1>
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" required />
  </mat-form-field>
  <input type="file" id="thumnailImagePath" formControlName="thumnailImagePath" (change)="onchange($event)"
    accept="image/*">
  <img src="{{logoBas64}}" *ngIf="logoBas64" width="100" height="60" />
  <br>
  <div mat-dialog-actions class="action">
    <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
    <button mat-raised-button color="primary" type="submit">{{data ? 'Update': 'Save'}}</button>
  </div>
</form>