<form [formGroup]="offerForm" (ngSubmit)="onSubmit()">
    <h1>Offers</h1>

    <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" required />
        <mat-error *ngIf="offerForm.get('title')?.hasError('required')">Title is required</mat-error>
    </mat-form-field>

    <!-- <mat-form-field appearance="fill">
        <mat-label>HasTimeLimit</mat-label>
        <input matInput formControlName="hasTimeLimit" required />
        <mat-error *ngIf="offerForm.get('hasTimeLimit')?.hasError('required')">HasTimeLimit is required</mat-error>
    </mat-form-field> -->

    <!-- <mat-form-field appearance="fill">
        <mat-label>CreatedBy</mat-label>
        <input matInput formControlName="createdBy" required />
        <mat-error *ngIf="offerForm.get('createdBy')?.hasError('required')">CreatedBy is required</mat-error>
    </mat-form-field> -->

    <!-- <mat-form-field appearance="fill">
        <mat-label>Status</mat-label>
        <input matInput formControlName="status" required />
        <mat-error *ngIf="offerForm.get('status')?.hasError('required')">Status is required</mat-error>
    </mat-form-field> -->

    <div class="row">
        <div class="col-md-6">
            <input type="file" id="featuredImage" formControlName="featuredImage" (change)="onchange($event)"
                accept="image/*" required>
        </div>
        <div class="col-md-6">
            <img src="{{logoBas64}}" *ngIf="logoBas64" width="200" height="200" />
            <mat-error *ngIf="offerForm.get('featuredImage')?.hasError('required')">FeaturedImage is
                required</mat-error>
        </div>


    </div>

    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
        <button mat-raised-button color="primary" type="submit">{{data ? 'Update' : 'Save'}}</button>
    </div>
</form>