<form [formGroup]="cityForm" (ngSubmit)="onSubmit()">
    <h1>City</h1>
    <mat-form-field appearance="fill">
        <mat-label>Select a State</mat-label>
        <mat-select formControlName="stateId" (selectionChange)="onCategoryChange($event)" required>
            <mat-option [value]="null" disabled>Select a State</mat-option>
            <mat-option *ngFor="let state of States" [value]="state.id">
                {{ state.name }}
            </mat-option>
            <mat-error *ngIf="cityForm.get('stateId')?.hasError('required')">State is required</mat-error>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" placeholder="Enter your name" required maxlength="50" />
        <mat-error *ngIf="cityForm.get('name')?.hasError('required')">Name is required</mat-error>
        <mat-error *ngIf="cityForm.get('name')?.hasError('minlength')">Name must be minimumm lenght 3</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>GPS Location</mat-label>
        <input matInput formControlName="gpslocation" />
    </mat-form-field>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
        <button mat-raised-button color="primary" type="submit">{{data ? 'Update': 'Save'}}</button>
    </div>
</form>