<div class="form">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <h1 class="text-center">Service Provider Sub Categories</h1>
        <mat-form-field class="example-full-width">
            <mat-label>serviceProvider</mat-label>
            <mat-select formControlName="serviceProviderId" (selectionChange)="serviceProviderEvent($event)" required>
                <mat-option *ngFor="let spdata of serviceProvider" [value]="spdata.id">{{spdata.businessName}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Service Provider Subscription</mat-label>
            <mat-select formControlName="serviceProviderSubscriptionId"
                (selectionChange)="serviceProviderSubscriptionEvent($event)" required>
                <mat-option *ngFor="let spdata of serviceProviderSubscriptionData" [value]="spdata.id">{{spdata.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Paid Amount</mat-label>
            <input matInput formControlName="paidAmount">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Payment Mode</mat-label>
            <mat-select formControlName="paymentModeId" (selectionChange)="paymentMode($event)" required>
                <mat-option *ngFor="let spdata of paymentdata" [value]="spdata.id">{{spdata.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Payment Date</mat-label>
            <input matInput formControlName="paymentDate" placeholder="Select Payment Date" [matDatepicker]="picker1" />
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>transactionReference</mat-label>
            <input matInput formControlName="transactionReference">
        </mat-form-field>
        <div mat-dialog-actions class="action">
            <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
            <button mat-raised-button color="primary" type="submit">{{data ? 'Update': 'Save'}}</button>
        </div>
    </form>
</div>