<form [formGroup]="paymentModeForm" (ngSubmit)="onSubmit()">
    <h1>Payment Mode</h1>
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" placeholder="Enter your name" />
        <mat-error *ngIf="paymentModeForm.get('name')?.hasError('required')">
            Payment Name is required
        </mat-error>
    </mat-form-field>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
        <button mat-raised-button color="primary" type="submit">{{data ? 'Update': 'Save'}}</button>
    </div>
</form>